* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
#form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 65%; }
#form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
#form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

.chatRoom {
  border-width: 1px;
  border-style: solid;
}

.portrait {
  width: 20px;
  height: 20px;
}

/* UserProfile */
.profileImages ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.profileImages li {
  padding: 5px;
}

.profileImages img {
  width: 50px;
  height: 50px;
}

.selected {
  border-color: #2196F3;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}